<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <new>
            <general>
                <greeting_message>Good Morning</greeting_message>
            </general>
        </new>
    </default>
</config>
